:root {
    --alertred: rgb(255, 51, 0);
    --orange: rgb(255, 140, 0);
    --green: rgb(22, 192, 59);
    --darkgreen: rgb(17, 134, 42);
    --bgcolor: rgba(255, 255, 255, 0.2);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
        font-size: 1.5rem;

}
body {
    background: rgb(161, 161, 159);
}
h1 {
    text-decoration: underline;
}

p {
    background: var(--bgcolor);
    vertical-align: middle;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 1px 10px rgb(46, 45, 45);
}
button {
    background: var(--bgcolor);
    border: none;
    vertical-align: middle;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    box-shadow: 1px 1px 10px rgb(46, 45, 45);
    transition: all 0.2s;
}
.small-img {
    height: 40px;
    width: 40px;
    display: flex;
    padding: 5px;
}
.container {
    height: 70vh;
    width: 50vw;
    min-height: 150px;
    min-width: 200px;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgb(0, 0, 0, 0.4)),
        url("./bg-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgb(87, 86, 86);
}
#clear-btn:hover,
#reset-all-btn:hover {
    background: var(--orange);
    box-shadow: 1px 1px 10px var(--orange);
}
#increment-btn:hover,
#save-btn:hover {
    background: var(--darkgreen);
    box-shadow: 1px 1px 10px var(--darkgreen);
}
#clear-btn:active,
#reset-all-btn:active {
    background: var(--alertred);
    box-shadow: 1px 1px 10px var(--alertred);
}
#increment-btn:active,
#save-btn:active {
    background: var(--green);
    box-shadow: 1px 1px 10px var(--green);
}
