* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
.nav {
    overflow: hidden;
    position: fixed;
}
.nav a {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    margin: 10vw;
}
.bg-img {
    color: rgba(255, 255, 255, 0.575);
    width: 100vw;
    height: calc(100vh - 100px);
    background: url("./background-mountains.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
