* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(green, blue);
}
.wrapper {
    height: 100vh;
}
.navbar {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.342);
    height: 100px;
    width: 100vw;
}

@media screen and (min-width: 1000px) {
    body {
        background: red;
    }
}
